.main-header{
    width: 100%;
    height: 80px;
    opacity: 1;
    background-color: black;
}

.header__nav{
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    align-items: center;
}

.title{
    width: 100%;
    height: 36px;
    margin-left: 10px;
}

.search__form{
    width: 40%;
    margin-left: 10px;
}

.search__input{
    width: 100%;
    height: 50px;
    border-radius: 5px;

}

.link__button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin-right: 10px;
}

.button__logout{
    display: inline-block;
    width: 85px;
    margin: 0;
    background-color: black;
    all: unset;
    border: none;
    cursor: pointer;
    color: white;
}

.button__login{
    display: inline-block;
    width: 85px;
    margin: 0;
    background-color: black;
    all: unset;
    border: none;
    cursor: pointer;
    color: white;
}

.button__mypage:link,.button__mypage:visited{
    background-color: black;
    max-width: 120px;
    margin: 0;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;

}

.button__exhibition{
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 2;
    text-align: center;
    cursor: pointer;
    border: soli 1px black;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}



.container{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.error{
    color: red;
}



@media (max-width: 1271px) {
    .link__button {
        font-size: 13px;
        display: block;
        width: 90px;
    }
}

@media (max-width: 1271px) {
    .button__exhibition {
        display: inline-block;
        width: 50px;
        height: 40px;
        line-height: 3;
        text-align: center;
        cursor: pointer;
        border: soli 1px black;
        background-color: white;
        cursor: pointer;
        text-decoration: none;
        color: black;
        border-radius: 4px;
        }
}


