.profile__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.preview__image{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: none;
}

.error-alert {
    color: red;
}
