.profile__container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.profile__image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__user-name{
    font-size: xx-large;
    margin-top: 28px;
}

.button__edit{
    width: 150px;
    height: 30px;
    border-color: red;
    color: red;
    font-weight: bold;
    background-color: white;
    margin-top: 70px;
    border-radius: 7px;
}

.profile__content__page{
    border-bottom: solid 2px #5F5F5F;
    margin: 50px 0;
}

.page__sell{
    text-decoration: none;
    font-weight: bold;
    margin-left: 130px;
    color: #5F5F5F;
}

.page__sell.on{
    text-decoration: none;
    font-weight: bold;
    margin-left: 130px;
    color: #FF0000;
}

.page__buy{
    text-decoration: none;
    font-weight: bold;
    margin-left: 60px;
    color: #5F5F5F;
}

.page__buy.on{
    text-decoration: none;
    font-weight: bold;
    margin-left: 60px;
    color: #FF0000;
}

.page__transaction{
    text-decoration: none;
    font-weight: bold;
    margin-left: 60px;
    color: #5F5F5F;
}

.page__transaction.on{
    text-decoration: none;
    font-weight: bold;
    margin-left: 60px;
    color: #FF0000;
}

.chat-badge__box{
    display: inline;
    position: relative;
}

.chat-badge{
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    background-color: #FF0000;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    margin-left: 7px;
    line-height: 23px;

}

.item-badge{
    margin-left: 5px;
    background-color: #FF0000;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding-top: 2px;
    padding-left: 6px;
}

.item__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.item__cards__image {
    width: 290px;
    height: 290px;
}

.item__link {
    text-decoration: none;
    color: black;
}

.item__cards__name {
    display: inline-block;
}

.item__card__description {
    display: flex;
}

.item__status-alert {
    display: inline-block;
    width: 60px;
    height: 25px;
    margin-top: 15px;
    padding-left: 13px;
    background-color: red;
    color: white;
    margin-left: 20px;
    border-radius: 2px;
    }

@media (max-width: 1243px) {
    .item__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 933px) {
    .item__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}
