.profile__container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.profile__image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__user-name{
    font-size: xx-large;
    margin-top: 28px;
}

.button__edit{
    width: 150px;
    height: 30px;
    border-color: red;
    color: red;
    font-weight: bold;
    background-color: white;
    margin-top: 70px;
    border-radius: 7px;
}

.item__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.item__cards__image {
    width: 290px;
    height: 290px;
}

.item__link {
    text-decoration: none;
    color: black;
}
