.purchase__content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.error-alert {
    color: red;
}

.alert-success {
    color: white;
    background-color: black;
    font-weight: bolder;
    width: 220px;
    margin-top: 5px;
    padding-left: 5px;
}

.item__image{
    width: 177px;
    height: 177px;
}

.purchase__button{
    cursor: pointer;
    width: 400px;
    height: 55px;
    background-color: #FF5555;
    border: none;
    color: white;
}
