.main-header {
    width: 100%;
    height: 80px;
    opacity: 1;
    background-color: black;
}

.header__nav {
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    align-items: center;
}

.title {
    width: 100%;
    height: 36px;
    margin-left: 10px;
}

.container {
    display: grid;
    grid-template-columns: 259px 1fr;
}

.side__content{
    max-width: 259px;
    min-height: 902px;
    background-color: #868686;

}

.side__content__title{
    color: white;
    text-align: center;
}

.chat__link{
    color:black;
    text-decoration: none;
}

.chat__link__name{
    background-color: #EEEFEB;
    max-width: 197px;
    height: 40px;
    border-radius: 5px;
    margin-left: 29px;
    font-weight: 400;
}

@media (max-width: 900px) {
    .main-header {
        width: 105%;
        height: 80px;
        opacity: 1;
        background-color: black;
    }
}

@media (max-width: 900px) {
    .side__content {
        max-width: 170px;
        height: 100%;
        background-color: #868686;
        font-size: 10px;
        margin-left: 0;

    }
}

@media (max-width: 900px) {
    .main__content {
        margin-left: -70px;

    }
}

@media (max-width: 900px) {
    .chat__link__name {
        background-color: #EEEFEB;
        max-width: 197px;
        height: 40px;
        border-radius: 5px;
        margin-left: 29px;
        line-height: 2;
        margin-left: 13px;
        margin-right: 13px;
        font-weight: 400;
    }
}
