.main-header {
    width: 100%;
    height: 80px;
    opacity: 1;
    background-color: black;
}

.header__nav {
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    align-items: center;
}

.title {
    width: 100%;
    height: 36px;
    margin-left: 10px;
}

.container {
    display: grid;
    grid-template-columns: 259px 1fr;
}

.side__content{
    max-width: 259px;
    height: 100%;
    background-color: #868686;

}

.side__content__title{
    color: white;
}
